<!-- wp:template-part {"slug":"main-header","theme":"online-electro-store","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"inherit":"true","type":"constrained"}} -->
<main class="wp-block-group">
  <!-- wp:pattern {"slug":"online-electro-store/main-banner"} /-->
  <!-- wp:pattern {"slug":"online-electro-store/services"} /-->
  <!-- wp:pattern {"slug":"online-electro-store/testimonial"} /-->
  <!-- wp:pattern {"slug":"online-electro-store/projects-section"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-columns","theme":"online-electro-store","tagName":"footer"} /-->